<a href="https://colab.research.google.com/github/abalaji-blr/PythonLang/blob/main/Copy_of_Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Comments

In [ ]:
# this is single line comment

In [ ]:
""" Use mutli line strings as
    multi line comments"""

' Use mutli line strings as\n    multi line comments'

In [ ]:
''' You can use single quotes as well
for multi line comments'''

' You can use single quotes as well\nfor multi line comments'

In [ ]:
def my_func():
   """ this function does the following
   it takes no argument.
   it returns None.
   You can use this for documentation"""
   return None

print(my_func)

<function my_func at 0x7fb87ef470e0>

## Multi line statments

In [ ]:
a = [ 1,
     2,
     3
     ]
print(a)

b = [ 4, # first item
     5,  # second item
     6   # third item
     ]
print(b)

def add( op1, # first operand
        op2  # second operand
        ):
  return( op1 + op2)

print(add(4, 5))

# for line continuation, you have to escape with backslash
if a[0] < b[0] \
  and a[1] < b[1] \
  and a[2] < b[2]:
  print("I am here!")

[1, 2, 3]
[4, 5, 6]
9
I am here!

## Built in Data types

### Sequences - Ordersed Set

#### Mutable Sequences : Lists and Bytearrays

In [ ]:
a = [1, 2, 3]
b = list(range(5)) # stop
c = list(range(5, 10)) # start, stop
d = list(range(5, 40, 5)) # start, stop, step
print(a)
print(b)
print(c)
print(d)

[1, 2, 3]
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[5, 10, 15, 20, 25, 30, 35]

#### Immutable Sequence: Tuples, Strings, and Bytes
Tuples - are like lists but they are immutable.

In [ ]:
# different ways to build tuple objects
a1 = ()
one_element = (20,) # it needs a comma after first entry
a2 = (1, \
      2, \
      3, \
      4, \
      2, \
      3, \
      "hello")
a3 = tuple(range(2, 10, 2)) # tuple
print(a1)
print(one_element)
print(a2)
print('length:', len(a2))
print(a3)

()
(20,)
(1, 2, 3, 4, 2, 3, 'hello')
length: 7
(2, 4, 6, 8)

## Set
Set is unordered and finite set of unique (no duplicates) immutable objects. In python, it's implemented using Hash tables.

Note that the set elements are immutable whereas the set itself is mutable, that is we can add and delete member entries.

In [ ]:
s1 = { 10, 2, 30, 2, 6, 2}
print(s1)
type(s1)
#print(s1[0]) # set object is not subscriptable
s1.add(34)
print(s1)

{10, 2, 30, 6}
{2, 34, 6, 10, 30}

In [ ]:
s2 = frozenset({10,20,30})
print(s2)
print(type(s2))
#s2.add(40) # error: no add method. we can't add to frozenset.
#print(s2)

frozenset({10, 20, 30})
<class 'frozenset'>

## Mappings / Hash Tables / Dictionaries

In [ ]:
tbl = {'one': 2, 'two': 3}

print(tbl)
print(tbl.items())
print(tbl.values())
#dict({'one': 2, 'two': 3}.items())
#dict({'one': 2, 'two': 3}.iteritems())

{'one': 2, 'two': 3}
dict_items([('one', 2), ('two', 3)])
dict_values([2, 3])

## Statements

### if : elif: else
elif: and else: are optional

In [ ]:
a = 2
if a < 3:
    print("a < 3")
else:
    print("a >=3")

a < 3

In [ ]:
a = 15

if a < 5:
    print("a < 5")
elif a < 10:
    print("5 <= a < 10")
else:
    print("a >=10")

a >=10

In [ ]:
a = 15
res = 'a < 10' if a < 10 else 'a >=10'
print(res)

a >=10

In [ ]:
def say_hello():
    print("Hello")
def say_world():
    print("World")

a = 15
say_hello() if a < 10 else say_world()

World

### for statement 
Iterate over a sequence or iterable object.

The for statement can have optional else: clause.

The else: clause will be executed when the for loop completes normally ie., if a break statement is not executed.

In [ ]:
fruits = ['apple', 'orange', 'pomegrante', 'cherry']

# set the iterator
gen1 = (item.upper() for item in fruits)
print(gen1)
for x in gen1:
  print(x)

<generator object <genexpr> at 0x7fa5da806450>
APPLE
ORANGE
POMEGRANTE
CHERRY

In [ ]:
data1 = [ 1, 2, 3, 4]
for item in data1:
    if item > 100:
      value1 = item
      break
else:
    value1 = 'not found'

print ('value1:', value1)

value1: not found

### while statement

### Continue, break statements

### try: except: statement

### raise statement - To throw exceptions

### with: statement

### del statement
To delete the objects.

## Functions

**def** - is used to define the funtion or method. It creates function object.

**return** - to return values from function. It can take **zero or more values**, separated by commas. The caller have to unpack the return values. The default value is **None**.

**About Function Parameters / Arguments:**

The parameters should be given in the following order.
* Normal arguments
* Arguments with default values. This makes that it's an optional argument.
* Argument List (*args) - It's a tuple.
* Keyword arguments (*kwargs) - It's a dictionary.


**Accessing the global variables**:

Inside the function, you must use global, to access or set the global variables.

In [5]:
# by default returns None
def compute():
  # nothing to compute
  pass

def compute2():
  return None

## can return more than one value
def compute_results(x, y, z):
  return x*3, y*4, z*5

print(compute())
print(compute2())

res = compute_results(1, 2, 3)
print(res)

r1, r2, r3 = compute_results(4, 5, 6)
print('results: ', r1, r2, r3)

None
None
(3, 8, 15)
results:  12 20 30

In [11]:
'''About function parameters

*args = positional args - tuple - argList
**kwargs = keyword args - dictionary
'''
def test(size, step=10, *args, **kwargs):
  print(size)
  print(step)
  print(args)
  print(kwargs)

test(30)

# override the default value
test(40, 20)

# provide the positional args - argList

test(50, 30, 11, 22, 33, 44)

# provide the positional and keyword args
test(20, 15, 33, 44, param='xyz', otherParam = 'abc', yetAnotherParam = 'rst')

30
10
()
{}
40
20
()
{}
50
30
(11, 22, 33, 44)
{}
20
15
(33, 44)
{'param': 'xyz', 'otherParam': 'abc', 'yetAnotherParam': 'rst'}

### Decorators for functions

Let's see this in more detail in Classes section

### Lambda Functions

They are anonymous functions - that is no function name.

They contain only expressions and no statements.

In [15]:
fn = lambda x, y, z: x**2 + y**2 + z
print(fn(1,2,3))
print(fn(2,3,4))

8
17

### Iterators and Generators

## Classes

Classes enables us to create new data types. They mimic the real world objects.

The member variables hold the (current) state and the methods defines the behaviour of these objects.

**About Methods:**
* Instance Methods - Most of methods take **self** as first argument. The **self** refers to the instance. Hence it's called as instance method. Note that **instead of self**, it can be any name but usually everybody uses **self**.

* **Class Method**: Takes class as its first argument. Note that we don't need to have an instance to invoke this method. Use @classmethod decorator.

* **Static Method**: It takes **neither instance nor class name** as first argument. Use @staticmethod decorator

**Constructor**: __init__(self, args_if_any)

**Calling Methods:**
* Use instance name and dot operator.
* Within the class - use **self**, ex: self.method_name()
* In the case of inheritance - you can invoke using class name - Need to verify this.

**Class Variable**
It is a static variable. Note that it's different from member varaible.

In [1]:
# A simple class

class A:
  pass

a = A()
print(a)
type(a)

<__main__.A object at 0x7f79ebb36550>

__main__.A

In [2]:
# inherit from another class
class B(object):
  pass

b = B()
print(b)

<__main__.B object at 0x7f79e3f120d0>

In [3]:
## define methods
class C(object):
  def show(self):
    print("hello from C")

c = C()
c.show()

hello from C

In [6]:
## constructor  
class D(object):
  def __init__(self, name):
    self.name = name # set the member variable

  def show(self):
    print ('name: %s'% self.name)

d = D('kumar')
d.show() ## calling method

name: kumar

In [11]:
## static method & class method : use decorators
class Buf():
  size = 256  # static variable

  @staticmethod
  ## this does not receive reference to instance or class
  def getName():
    return "Buf type"
    

  @classmethod
  # this gets the reference to class
  def show_stat(cls):
    print ('%s' % cls.size)

print(Buf.getName())

Buf.show_stat()

Buf type
256