<a href="https://colab.research.google.com/github/abalaji-blr/PythonLang/blob/main/Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Comments

In [1]:
# this is single line comment

In [2]:
""" Use mutli line strings as
    multi line comments"""

' Use mutli line strings as\n    multi line comments'

In [3]:
''' You can use single quotes as well
for multi line comments'''

' You can use single quotes as well\nfor multi line comments'

In [4]:
def my_func():
   """ this function does the following
   it takes no argument.
   it returns None.
   You can use this for documentation"""
   return None

print(my_func)

<function my_func at 0x7fb87ef470e0>

## Multi line statments

In [10]:
a = [ 1,
     2,
     3
     ]
print(a)

b = [ 4, # first item
     5,  # second item
     6   # third item
     ]
print(b)

def add( op1, # first operand
        op2  # second operand
        ):
  return( op1 + op2)

print(add(4, 5))

# for line continuation, you have to escape with backslash
if a[0] < b[0] \
  and a[1] < b[1] \
  and a[2] < b[2]:
  print("I am here!")

[1, 2, 3]
[4, 5, 6]
9
I am here!

## Built in Data types

### Sequences - Ordersed Set

#### Mutable Sequences : Lists and Bytearrays

In [14]:
a = [1, 2, 3]
b = list(range(5)) # stop
c = list(range(5, 10)) # start, stop
d = list(range(5, 40, 5)) # start, stop, step
print(a)
print(b)
print(c)
print(d)

[1, 2, 3]
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[5, 10, 15, 20, 25, 30, 35]

#### Immutable Sequence: Tuples, Strings, and Bytes
Tuples - are like lists but they are immutable.

In [3]:
# different ways to build tuple objects
a1 = ()
one_element = (20,) # it needs a comma after first entry
a2 = (1, \
      2, \
      3, \
      4, \
      2, \
      3, \
      "hello")
a3 = tuple(range(2, 10, 2)) # tuple
print(a1)
print(one_element)
print(a2)
print('length:', len(a2))
print(a3)

()
(20,)
(1, 2, 3, 4, 2, 3, 'hello')
length: 7
(2, 4, 6, 8)

## Set
Set is unordered and finite set of unique (no duplicates) immutable objects. In python, it's implemented using Hash tables.

Note that the set elements are immutable whereas the set itself is mutable, that is we can add and delete member entries.

In [10]:
s1 = { 10, 2, 30, 2, 6, 2}
print(s1)
type(s1)
#print(s1[0]) # set object is not subscriptable
s1.add(34)
print(s1)

{10, 2, 30, 6}
{2, 34, 6, 10, 30}

In [18]:
s2 = frozenset({10,20,30})
print(s2)
print(type(s2))
#s2.add(40) # error: no add method. we can't add to frozenset.
#print(s2)

frozenset({10, 20, 30})
<class 'frozenset'>

## Mappings / Hash Tables / Dictionaries

In [24]:
tbl = {'one': 2, 'two': 3}

print(tbl)
print(tbl.items())
print(tbl.values())
#dict({'one': 2, 'two': 3}.items())
#dict({'one': 2, 'two': 3}.iteritems())

{'one': 2, 'two': 3}
dict_items([('one', 2), ('two', 3)])
dict_values([2, 3])

## Statements

### if : elif: else
elif: and else: are optional

In [25]:
a = 2
if a < 3:
    print("a < 3")
else:
    print("a >=3")

a < 3

In [26]:
a = 15

if a < 5:
    print("a < 5")
elif a < 10:
    print("5 <= a < 10")
else:
    print("a >=10")

a >=10

In [27]:
a = 15
res = 'a < 10' if a < 10 else 'a >=10'
print(res)

a >=10

In [28]:
def say_hello():
    print("Hello")
def say_world():
    print("World")

a = 15
say_hello() if a < 10 else say_world()

World

### for statement 
Iterate over a sequence or iterable object.

The for statement can have optional else: clause.

The else: clause will be executed when the for loop completes normally ie., if a break statement is not executed.

In [29]:
fruits = ['apple', 'orange', 'pomegrante', 'cherry']

# set the iterator
gen1 = (item.upper() for item in fruits)
print(gen1)
for x in gen1:
  print(x)

<generator object <genexpr> at 0x7fa5da806450>
APPLE
ORANGE
POMEGRANTE
CHERRY

In [34]:
data1 = [ 1, 2, 3, 4]
for item in data1:
    if item > 100:
      value1 = item
      break
else:
    value1 = 'not found'

print ('value1:', value1)

value1: not found

### while statement

### Continue, break statements

### try: except: statement

### raise statement - To throw exceptions

### with: statement

### del statement
To delete the objects.

## Functions