<a href="https://colab.research.google.com/github/abalaji-blr/PythonLang/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuples

**Tuples:**
  * Hetrogeneous/Homogeneous containers.
  * Order matters.
  * Iterable, Indexable, and Immutable.
  * Fixed Length, Fixed Order.
    * Can not do in-place sorts
    * can not do in-place reversals

**Strings** are similar to **Tuples** except that strings are homogeneous.

Immutability of Tuples:
 * Once created, items cannot be added or deleted.
 * Works well for representing the data structures.
 * The position of the data has **meaning**.

Extracting / unpacking from tuples.

## Named Tuples

Named tuples is a **funtion** which generates a **new class** (class factory):

* new class inherits from **tuple**
* provides **name properties** to access elements of the tuple
* but an instance of that class is still a tuple.

1. **Assignment to the named tuple is NOT allowed. Note it's an immutable object.**
2. Field names should be identifiers and should not start with underscore.
3. If there are any underscore, rename option can be used to read in.

Use _fields to get the field names.

Use _asdict() to covert the named tuple to dictionary.

## Example Code

## Tuples

In [1]:
t = ( 'Bangalore', 'Karnataka', '709')

In [2]:
type(t)

tuple

In [3]:
city, state, area = t
city

'Bangalore'

In [4]:
## underscore is a dummy variable or don't care
city, _, area = t
print(_)

Karnataka

In [5]:
type(_)

str

## Named Tuples

In [6]:
from collections import namedtuple

In [7]:
help(namedtuple)

Help on function namedtuple in module collections:

namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)
    Returns a new subclass of tuple with named fields.

    >>> Point = namedtuple('Point', ['x', 'y'])
    >>> Point.__doc__                   # docstring for the new class
    'Point(x, y)'
    >>> p = Point(11, y=22)             # instantiate with positional args or keywords
    >>> p[0] + p[1]                     # indexable like a plain tuple
    33
    >>> x, y = p                        # unpack like a regular tuple
    >>> x, y
    (11, 22)
    >>> p.x + p.y                       # fields also accessible by name
    33
    >>> d = p._asdict()                 # convert to a dictionary
    >>> d['x']
    11
    >>> Point(**d)                      # convert from a dictionary
    Point(x=11, y=22)
    >>> p._replace(x=100)               # _replace() is like str.replace() but targets named fields
    Point(x=100, y=22)

In [8]:
Point2D = namedtuple('Point2D', ['x', 'y']) # class-name field-names

In [9]:
pt = Point2D(10, 20)
type(pt)

__main__.Point2D

In [10]:
# name tuple can be created from list, tuple, str etc. 
# make sure the order matters.
PT1 = namedtuple('Point2D', ('x', 'y'))
PT2 = namedtuple('Point2D', ['x', 'y'])
PT3 = namedtuple('Point2D', 'x y')

In [11]:
t1 = PT1(1, 2)
t2 = PT2(3, 4)
t3 = PT3(5, 6)
print(t1.x, t1.y)
print(t2)
print(t3)

1 2
Point2D(x=3, y=4)
Point2D(x=5, y=6)

In [12]:
isinstance(t1, tuple)

True

In [13]:
x, y = t3
print(x, y)

5 6

In [14]:
x = t2[0]
print(x)

3

In [15]:
t2.y = 100

AttributeError: ignored

In [16]:
person = namedtuple('Person', ['name', 'age', '_ssn'])

ValueError: ignored

In [17]:
person = namedtuple('Person', ['name', 'age', '_ssn'], rename=True)
person

__main__.Person

In [18]:
person._fields

('name', 'age', '_2')

In [25]:
personExt = namedtuple('PersonExt', person._fields + ('city',), rename=True)

In [26]:
personExt._fields

('name', 'age', '_2', 'city')

In [19]:
person._source

AttributeError: ignored

In [20]:
p1 = person('Eric', 30, 123456789)

In [21]:
p1._asdict()

OrderedDict([('name', 'Eric'), ('age', 30), ('_2', 123456789)])

In [27]:
help(person)

Help on class Person in module __main__:

class Person(builtins.tuple)
 |  Person(name, age, _2)
 |
 |  Person(name, age, _2)
 |
 |  Method resolution order:
 |      Person
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new OrderedDict which maps field names to their values.
 |
 |  _replace(_self, **kwds)
 |      Return a new Person object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Person object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, name, age, _2)
 |      Create new instance of Person(name, age, _2)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  name
 |      Alias for field number 0
 |
 |  age
 |      Alias for field number 1
 |
 |  _2
 |      Alias for field number 2
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  _field_defaults = {}
 |
 |  _fields = ('name', 'age', '_2')
 |
 |  _fields_defaults = {}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.

## Doc strings for namedtuple

In [28]:
person.__doc__ = 'All details about the person.'
person.name.__doc__ = "Name of the person"
person.age.__doc__ = 'Age of the person'

In [30]:
help(person)

Help on class Person in module __main__:

class Person(builtins.tuple)
 |  Person(name, age, _2)
 |
 |  All details about the person.
 |
 |  Method resolution order:
 |      Person
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new OrderedDict which maps field names to their values.
 |
 |  _replace(_self, **kwds)
 |      Return a new Person object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Person object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, name, age, _2)
 |      Create new instance of Person(name, age, _2)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  name
 |      Name of the person
 |
 |  age
 |      Age of the person
 |
 |  _2
 |      Alias for field number 2
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  _field_defaults = {}
 |
 |  _fields = ('name', 'age', '_2')
 |
 |  _fields_defaults = {}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.